.cat-slider {
    &:not(:last-child){
        margin-bottom: 55px;
    }
    &__title {
        @include subFont();
        @include rem(20);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 32px 0 37px;
        &_left {
            padding-left: 3px;
            &:after {
                content: '';
                display: inline-block;
                background-color: #cccccc;
                height: 2px;
                width: 100%;
                margin-left: 50px;
            }
        }
        &_right {
            &:before {
                content: '';
                display: inline-block;
                background-color: #cccccc;
                height: 2px;
                width: 100%;
                margin-right: 8px;
            }
        }
    }
}