@import 'common/variables';
@import '_libs/jeet/index';
@import '_libs/selectize.default';
@import 'common/mixins';
@import 'common/fonts';
@import 'common/base';
@import 'common/sprite-img';
@import 'blocks/**/*';








/* .retina-sprite-block{
  @include retina-sprite($abiatec-group);
} */

$jeet: ( gutter:0,
max-width: 1280px,
layout-direction: LTR,
parent-first: false);
// /@include debug(gray, false);
.container {
    @include center(1280px);
}

.title {
    color: #424242;
}

.main {
    padding: 22px 95px 128px 94px;
}

.filters {
    background-color: $filtersBg;
    background-color: var(--filters-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 95px;
    &__button {
        width: 100%;
        max-width: 205px;
        height: 52px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.filter-list {
    @extend ._list-reset;
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child) {
            margin-right: 36px;
        }
    }
}

.btn {
    @include subFont();
    background-color: $btnBg;
    background-color: var(--btn-bg);
    border-radius: 3px;
    border: none;
    color: $btnColor;
    color: var(--btn-color);
    @include rem(14);
}


.sorting {
    display: flex;
    align-items: center;
    &__title {
        text-transform: uppercase;
        @include subFont();
        @include rem(20);
    }
    &__list{
        >.select{
            margin-left: 32px;
            padding:10px;
        }
        
    }
}



.color-list {
    display: flex;
    align-items: center;
    @extend ._list-reset;
    &__item {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}


.selectize-control {
    position: relative;
    display: flex;
    align-items: center;
}

.selectize-input {
    border: none;
    box-shadow: none;
    padding: 0;
    padding-right: 15px;
}
